
.event-planner-container {
  display: flex;
  justify-content: space-around;
  margin-left: -40px; 
}

.event-planner-table {
  width: 100%;
  padding: 10px;
  margin: 20px;
  position: relative;
  right:5%;
}

.event-planner-table h2{
  font-size: 40px;
  position: relative;
  left: 1.5%;
  top: 10px;
}

.event-planner-form {
  width: 60%;
  margin-left : -20px;
}

.event-planner-form h2{
  font-size: 35px;
  position: relative;
  right: 0px;
  top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border: solid black;
  background-color: white;
  margin-top: 25px;
}

.table-container{
  border-radius: 20px;
  position: relative;
  right: 280px;
}

th, td {
  border: 3px solid black;
  padding: 12px;
  text-align: left;
}

th {
  background-color: grey;
  color: whitesmoke;
}

.Event-planner-form-inner{
  background-color: white;
  justify-content: center ;
  border-radius: 10px;
}


.form-control {
  width: 70%;
  padding: 10px;
  size: 30px;
  border: 1px solid black;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  text-align:center;
}

.form-control:focus{
  outline: none;
  border-color: red;
}

.btn {
  padding: 12px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-success {
  background-color: gray;
  color: #fff;
  border: 1px solid gray;
  border-radius: 6px;
}

.btn-success:hover {
  background-color: darkgray; /* Dark shade for Save button on hover */
}

.btn-primary {
  background-color: gray;
  color: #fff;
  border: 1px solid gray;
  border-radius: 6px;
}


.btn-primary:hover {
  background-color: darkgray; /* Dark shade for Edit button on hover */
}

.btn-danger {
  background-color: #a92d39;
  color: #fff;
  border: 1px solid #a92d39;
  border-radius: 6px;
}

.btn-danger:hover {
  background-color: #d63444; /* Dark shade for Delete button on hover */
}

.add-task {
  background-color: #1e33eb; /* Default blue color */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  left: 110%;
}

.add-task:hover {
  background-color: #007bff; /* Dark shade of blue on hover */
  transform: scale(1.075); /* Enlarge the button on hover */
}

.event-planner-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add some spacing and styling for a cleaner look */
.event-planner-form h2,
.event-planner-table h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.event-planner-form form {
  margin-top: 20px;
}

.event-planner-form-inner {
  font-family: 'Noto Sans Glagolitic', sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  transition: transform 0.3s;
  font-family: 'Noto Sans Glagolitic', sans-serif;
  position: relative;
  right: 100px;
}


.event-planner-form-inner h2 {
  font-family: 'Noto Sans Glagolitic', sans-serif; /* Apply the font to the heading */
  margin-bottom: 20px;
}