.gs-h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.gs-h2 {
  font-size: 40px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.button-container {
  justify-content: center;
  margin: 10px 10px;
  padding: 10px 20px;
}

.login-button,
.signup-button {
  background-color: gray;
  color: #fff;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 150px;
}

.login-button:hover,
.signup-button:hover {
  background-color: darkgray;
  color: #fff;
  transform: scale(1.2);
}

.signup-button {
  margin-left: 50px;
}
