.wrapper {
  border: 1.5px solid #ccc;
  border-radius: 40px;
  padding: 30px;
  background-color: #3a475f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.grid-container {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: 48rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  justify-content: center;
  grid-template-areas:
    "Mon Tue Wed"
    "Thu Fri Sat"
    ". Sun .";
}

.day-container {
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 30px;
  background-color: red;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.day-container:hover {
  transform: scale(1.05);
}

.day-text {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.day-container:nth-child(7) {
  grid-area: Sun;
}
